<div class="row">
    <div class="col">
      <h1>
        <span class="badge text-bg-secondary ms-1 operation-text">{{ number1 }}</span> 
        <span class="badge text-bg-secondary ms-1 operation-text">+</span>  
        <span class="badge text-bg-secondary ms-1 operation-text">{{ number2 }}</span> 
      </h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <button type="button" class="btn btn-primary number-button" (click)="checkAnwser(answerArray[0])">{{ answerArray[0] }}</button>
        <button type="button" class="btn btn-purple number-button ms-1" (click)="checkAnwser(answerArray[1])">{{ answerArray[1] }}</button>
        <button type="button" class="btn btn-orange number-button ms-1" (click)="checkAnwser(answerArray[2])">{{ answerArray[2] }}</button>
    </div>
</div>